{{ partial "head" . }}
{{ partial "header-od" . }}



<section class="margin-bottom:u12 features-bg padding-top:5vh">
  <div class="wrap">
    <div class="row row-gutter@sm:u8 margin-bottom:u12 margin-bottom@sm:u0">
        <div class="column:12 column@sm:6 column@md:7 margin-bottom:u8 flex align-items:center">
          <div>
            <h1 class="font-size:h2 font-size@sm:h1 font-size@md:hero font-height:1 margin-bottom:u8 color:white">Clean and reliable lookup suitable for any project.</h1>
            <h5 class="font-weight:regular color:white">
              Whether you’re checking for GDPR compliance or need to know where your customers are accessing from to provide a tailored experience, we’ve got you covered.
            </h5>
          </div>
        </div>
        <div class="column:12 column@sm:6 column@md:5">
          <img src="/assets/images/features/features-hero@2x.png/" class="media width:100%" />
        </div>
    </div>
  </div>
</section>

<section class="padding-y:6vh">
  <div class="wrap">


    <div class="row row-gutter@sm:u10 margin-bottom:u12 margin-bottom@sm:u10">
      <div class="column:12 column@sm:6 margin-bottom:u8 margin-bottom@sm:u0">
        <img src="/assets/images/features/features-custom-web@2x.png/" class="media width:100%" />
      </div>
      <div class="column:12 column@sm:6 flex align-items:center">
        <div class="max-width@sm:500px margin:auto">
          <h4 class="margin-bottom:u6">Customized user experiences <br />based on location</h4>
          <p>Having location insight allows you to customize your site based on your visitors geographic location providing them with the best user experience. Optimize your ad targeting and build location based logic into your site.</p>
          <a href="#" class="font-weight:bold">Read the docs</a>
        </div>
      </div>
    </div>

    <div class="row row-gutter@sm:u10 margin-bottom:u12 margin-bottom@sm:u10">
      <div class="column:12 column@sm:6 flex align-items:center margin-bottom:u8 margin-bottom@sm:u0">
        <div class="max-width@sm:500px margin:auto">
          <h4 class="margin-bottom:u6">Accurate timezone, <br />language & currency data</h4>
          <p>Get more than just location data, Ipfind provides accurate timezone, language and primary currency used in the location of the IP. Deliver localized shopping experienes to your ecommerce customers.</p>
          <a href="#" class="font-weight:bold">Read the docs</a>
        </div>
      </div>
      <div class="column:12 column@sm:6">
        <img src="/assets/images/features/features-currency@2x.png/" class="media width:100%" />
      </div>
    </div>

    <div class="row row-gutter@sm:u10 margin-bottom:u12 margin-bottom@sm:u0">
      <div class="column:12 column@sm:6 margin-bottom:u8 margin-bottom@sm:u0">
        <img src="/assets/images/features/features-flags@2x.png/" class="media width:100%" />
      </div>
      <div class="column:12 column@sm:6 flex align-items:center">
        <div class="max-width@sm:500px margin:auto">
          <h4 class="margin-bottom:u6">High-quality flags <br />& map images</h4>
          <p>Automatically return a high quality flag for a particular IP address at a range of size. Use our Map end point to automatically return a static map image of the location for the IP Address.</p>
          <a href="#" class="font-weight:bold">Read the docs</a>
        </div>
      </div>
    </div>


  </div>
</section>

{{ partial "cta" . }}
{{ partial "footer" . }}
{{ partial "slidemenu" . }}


{{ partial "foot" . }}
