{{ partial "head" . }}

<header>
  <div class="wrap">
    <nav class="header header:home">
    	<div class="header/content">
    		<div class="header/item">
          <a href="/" class="hover-fill:none padding-x:u4 padding-x@sm:u4 padding-y:u4">
      			<img src="/assets/images/logo-ol.svg" class="header/logo">
      		</a>
        </div>
        <div class="header/item">
          <a href="/features/" class="color:black font-weight:bold">
      			Features
      		</a>
        </div>
        <div class="header/item">
          <a href="/pricing/" class="color:black font-weight:bold">
      			Pricing
      		</a>
        </div>
        <div class="header/item">
          <a href="#" class="color:black font-weight:bold">
      			Docs
      		</a>
        </div>
        <div class="header/item">
          <a href="#" class="color:black font-weight:bold">
      			Support
      		</a>
        </div>
    	</div>

    	<div class="header/content">
    		<div class="header/item">
          <a href="/signup/" class="color:black font-weight:bold">
      			Sign Up
      		</a>
        </div>
    		<div class="header/item">
          <a href="/login/" class="button button-style:outline border-radius:round button-grow:u6 button-size:sm button-color:primary">
      			Login
      		</a>
        </div>
    	</div>
    </nav>
  </div>
</header>


<section class="margin-bottom:u12 pricing-bg padding-top:10vh">
  <div class="wrap">
    <div class="row row-gutter:u10">
        <div class="column:12 column@sm:7">
          <h1 class="font-size:h2 font-height:1 margin-bottom:u8">From getting started to millions of users, we have a plan for you</h1>
          <h5 class="font-weight:regular">
            We make for fetching a location from an IP Address fast and simple. Fetch an end point with the IP and receive an instant JSON response with the location data you need.
          </h5>
        </div>
    </div>
  </div>
</section>

<section class="padding-bottom:10vh">
  <div class="wrap">

    <div class="row row-gutter:u8 padding-y:10vh">
      <div class="column:12 column@sm:3">
        <img src="https://via.placeholder.com/150" class="media media-size:lg border-radius:round margin-bottom:u6">
        <h6 class="margin-bottom:u2">Developers</h6>
        <h2 class="margin-bottom:u6">Free</h2>
        <p class="font-size:tiny font-weight:bold color:black" style="line-height:2">
          300 requests/day<br />
          Developer license
        </p>
      </div>

      <div class="column:12 column@sm:3">
        <img src="https://via.placeholder.com/150" class="media media-size:lg border-radius:round margin-bottom:u6">
        <h6 class="margin-bottom:u2">Basic</h6>
        <h2 class="margin-bottom:u6">$10<span class="font-weight:regular font-size:h5">/month</span></h2>
        <p class="font-size:tiny font-weight:bold color:black" style="line-height:2">
          10,000 requests/day<br />
          Production license<br />
          SSL included
        </p>
      </div>

      <div class="column:12 column@sm:3">
        <img src="https://via.placeholder.com/150" class="media media-size:lg border-radius:round margin-bottom:u6">
        <h6 class="margin-bottom:u2">Professional</h6>
        <h2 class="margin-bottom:u6">$50<span class="font-weight:regular font-size:h5">/month</span></h2>
        <p class="font-size:tiny font-weight:bold color:black" style="line-height:2">
          50,000 requests/day<br />
          Production license<br />
          SSL included
        </p>
      </div>

      <div class="column:12 column@sm:3">
        <img src="https://via.placeholder.com/150" class="media media-size:lg border-radius:round margin-bottom:u6">
        <h6 class="margin-bottom:u2">Enterprise</h6>
        <h2 class="margin-bottom:u6">$150<span class="font-weight:regular font-size:h5">/month</span></h2>
        <p class="font-size:tiny font-weight:bold color:black" style="line-height:2">
          500,000 requests/day<br />
          Production license<br />
          SSL included
        </p>
      </div>

    </div>

    <div class="card elevate fill:navy-d1 margin-bottom:u12">
      <div class="card/content align:center padding:u10">
        <h4 class="margin-bottom:u6 color:white">
          Need an unlimited plan?
        </h4>
        <p class="color:white opacity:8 max-width:800px margin:auto margin-bottom:u8">We suggest you have a chat with one of our account managers to get you started. Most Fergus customers are on the Professional Plan, as it's our most powerful business tool.</p>
        <a href="#" class="button button-color:primary font-size:body button-grow:u10 border-radius:round">Contact Sales</a>
      </div>
    </div>

    <h2 class="align:center margin-bottom:u12">Frequently Asked Questions</h2>

    <div class="row row-gutter:u10">
      <div class="column:12 column@sm:6">
        <article class="margin-bottom:u10">
          <h6 class="margin-bottom:u4">How do I figure out what plan I should be on?</h6>
          <p>
            We suggest you have a chat with one of our account managers to get you started. Most Fergus customers are on the Professional Plan, as it's our most powerful business tool.
          </p>
        </article>

        <article class="margin-bottom:u10">
          <h6 class="margin-bottom:u4">How do I figure out what plan I should be on?</h6>
          <p>
            We suggest you have a chat with one of our account managers to get you started. Most Fergus customers are on the Professional Plan, as it's our most powerful business tool.
          </p>
        </article>

        <article class="margin-bottom:u10">
          <h6 class="margin-bottom:u4">How do I figure out what plan I should be on?</h6>
          <p>
            We suggest you have a chat with one of our account managers to get you started. Most Fergus customers are on the Professional Plan, as it's our most powerful business tool.
          </p>
        </article>
      </div>
      <div class="column:12 column@sm:6">
        <article class="margin-bottom:u10">
          <h6 class="margin-bottom:u4">How do I figure out what plan I should be on?</h6>
          <p>
            We suggest you have a chat with one of our account managers to get you started. Most Fergus customers are on the Professional Plan, as it's our most powerful business tool.
          </p>
        </article>

        <article class="margin-bottom:u10">
          <h6 class="margin-bottom:u4">How do I figure out what plan I should be on?</h6>
          <p>
            We suggest you have a chat with one of our account managers to get you started. Most Fergus customers are on the Professional Plan, as it's our most powerful business tool.
          </p>
        </article>

        <article class="margin-bottom:u8">
          <h6 class="margin-bottom:u4">How do I figure out what plan I should be on?</h6>
          <p>
            We suggest you have a chat with one of our account managers to get you started. Most Fergus customers are on the Professional Plan, as it's our most powerful business tool.
          </p>
        </article>
      </div>
    </div>

  </div>
</section>


{{ partial "cta" . }}
{{ partial "footer" . }}
{{ partial "slidemenu" . }}


{{ partial "foot" . }}
