

<footer class="fill:white padding-top:u10 padding-bottom:u6">
  <div class="wrap">
    <div class="row margin-bottom:u8">

      <div class="column:12 column@sm:3/5">

        <div class="row margin-bottom:u8 margin-bottom@sm:u10">
          <div class="column:6 column@sm:3 flex:none margin-bottom:u8">
            <img src="/assets/images/logo-ol.svg" class="media">
          </div>
          <div class="column:6 column@sm:3 flex:none margin-bottom:u8">
            <ul class="list list-gutter:u2">
              <li class="list/item">
                <h6 class="font-size:micro font-case:upper margin-bottom:u6">Product</h6>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Features
                </a>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Pricing
                </a>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Docs
                </a>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Support
                </a>
              </li>
            </ul>
          </div>
          <div class="column:6 column@sm:3 flex:none margin-bottom:u8">
            <ul class="list list-gutter:u2">
              <li class="list/item">
                <h6 class="font-size:micro font-case:upper margin-bottom:u6">Support</h6>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Bulk Search
                </a>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Contact Us
                </a>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Blog
                </a>
              </li>
            </ul>
          </div>
          <div class="column:6 column@sm:3 margin-bottom:u8">
            <ul class="list list-gutter:u2">
              <li class="list/item">
                <h6 class="font-size:micro font-case:upper margin-bottom:u6">Resources</h6>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Terms of Agreement
                </a>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Privacy Policy
                </a>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Country Flag
                </a>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Map Image
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="column:12 column@sm:2/5 clear-fix">
        <a href="#" class="card fill:blue-l5 border:none display:inline-flex float:right width:100% width@sm:auto">
          <div class="card/content padding@sm:u6 padding@sm:u8">
            <div class="flag flag-gutter:u6">
              <div class="flag/item">
                <img src="/assets/images/icons/icon-globe.svg/" class="media media-size:md">
              </div>
              <div class="flag/item">
                <h6 class="margin-bottom:u2">Try Our Bulk Search</h6>
                <p class="color:black font-size:tiny">Built on a network of over 420 <br />million monthly users.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row border-top padding-top:u6">
      <div class="column display:flex align-items:center margin-bottom:u8 margin-bottom@sm:u0">
        <div>
          <a href="#" class="font-size:tiny color:grey-l2 margin-right:u4">Copyright © IP Find 2018</a>
          <a href="#" class="font-size:tiny color:grey-l2 margin-right:u4">Terms</a>
          <a href="#" class="font-size:tiny color:grey-l2 ">Privacy</a>
        </div>
      </div>
      <div class="column align@sm:right">
        <a href="#" class="font-size:h4 color:primary margin-right:u4"><i class="fab fa-github"></i></a>
        <a href="#" class="font-size:h4 color:primary margin-right:u4"><i class="fab fa-medium"></i></a>
        <a href="#" class="font-size:h4 color:primary "><i class="fab fa-twitter"></i></a>
      </div>
    </div>


  </div>
</footer>
