<header>
  <div class="wrap">
    <nav class="header header:home">
      <div class="header/content header/content:mobile display:flex display@sm:none">
    		<div class="header/item">
          <a href="/" class="hover-fill:none">
      			<img src="/assets/images/logo-od.svg" class="header/logo">
      		</a>
        </div>
        <div class="header/item">
          <a href="#" class="header/hamburger padding-right:u2 js-hamburger">
      			<i class="fas fa-bars font-size:h3 color:white"></i>
      		</a>
        </div>
    	</div>

    	<div class="header/content display:none display@sm:flex">
    		<div class="header/item">
          <a href="/" class="hover-fill:none">
      			<img src="/assets/images/logo-od.svg" class="header/logo">
      		</a>
        </div>
        <div class="header/item">
          <a href="/features/" class="color:white font-weight:bold">
      			Features
      		</a>
        </div>
        <div class="header/item">
          <a href="/pricing/" class="color:white font-weight:bold">
      			Pricing
      		</a>
        </div>
        <div class="header/item">
          <a href="#" class="color:white font-weight:bold">
      			Docs
      		</a>
        </div>
        <div class="header/item">
          <a href="#" class="color:white font-weight:bold">
      			Support
      		</a>
        </div>
    	</div>

    	<div class="header/content display:none display@sm:flex">
    		<div class="header/item">
          <a href="/signup/" class="color:white font-weight:bold">
      			Sign Up
      		</a>
        </div>
    		<div class="header/item">
          <a href="/login/" class="button button-style:outline border-radius:round button-grow:u6 button-size:sm button-color:white">
      			Login
      		</a>
        </div>
    	</div>
    </nav>
  </div>
</header>
