<aside class="slidemenu slidemenu-direction:right">
  <div class="slidemenu/overlay">

  </div>
  <div class="slidemenu/content">
    <div class="slidemenu/close">

    </div>
		<a href="/" class="display hover-fill:none padding:u4">
      <img src="/assets/images/logo-ol.svg" class="slidemenu/logo">
    </a>


    <div class="padding:u4 border-bottom padding-bottom:u6">
      <a href="/login/" class="button border-radius:round button-grow:u6 button-color:primary width:100%">
        Login
      </a>
    </div>

    <div class="padding-y:u4 border-bottom">
      <a href="/signup/" class="font-size:h6 align:center display color:black font-weight:bold">
        Sign Up
      </a>
    </div>

    <div class="padding-y:u4 border-bottom">
      <a href="/features/" class="font-size:h6 align:center display color:black font-weight:bold">
        Features
      </a>
    </div>
    <div class="padding-y:u4 border-bottom">
      <a href="/pricing/" class="font-size:h6 align:center display color:black font-weight:bold">
        Pricing
      </a>
    </div>
    <div class="padding-y:u4 border-bottom">
      <a href="#" class="font-size:h6 align:center display color:black font-weight:bold">
        Docs
      </a>
    </div>
    <div class="padding-y:u4">
      <a href="#" class="font-size:h6 align:center display color:black font-weight:bold">
        Support
      </a>
    </div>

  </div>
</aside>
