{{ partial "head" . }}

<header>
  <div class="wrap">
    <nav class="header header:home">
    	<div class="header/content">
    		<div class="header/item">
          <a href="/" class="hover-fill:none padding-x:u4 padding-x@sm:u4 padding-y:u4">
      			Refactor
      		</a>
        </div>
        <div class="header/item">
          <a href="https://slashsketch.com/" class="">
      			Features
      		</a>
        </div>
        <div class="header/item">
          <a href="https://slashsketch.com/" class="">
      			Pricing
      		</a>
        </div>
        <div class="header/item">
          <a href="https://slashsketch.com/" class="">
      			Docs
      		</a>
        </div>
        <div class="header/item">
          <a href="https://slashsketch.com/" class="">
      			Support
      		</a>
        </div>
    	</div>

    	<div class="header/content">
    		<div class="header/item">
          <a href="https://slashsketch.com/" class="">
      			Sign Up
      		</a>
        </div>
    		<div class="header/item">
          <a href="https://twitter.com/SlashCSS/" class="button button-style:outline border-radius:round button-grow:u6 button-size:sm color:grey-l2" name="Twitter">
      			Login
      		</a>
        </div>
    	</div>
    </nav>
  </div>
</header>

<section>
  <div class="wrap">
    <div class="row row-gutter:u10">
      <div class="column:12 column@sm:7">
        <h1 class="height:1">The simplest <br />reverse lookup for <br />a location using ip</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
      <div class="column:12 column@sm:5">
        <div class="card">
          <div class="card/content">
            <h4>Hello just some nice title here</h4>
            <form class="form">
              <div class="form/item">
                <label class="required">Email</label>
                <input placeholder=" " class="max-width:100%" required>
              </div>
              <div class="form/item">
                <label>Password</label>
                <input type="password" placeholder=" " class="max-width:100%" required>
              </div>
              <div class="form/item">
                <label class="input:checkbox">
                  I agree to the <a href="#">Terms and Conditions</a>
                  <input type="checkbox" required/>
                  <div class="input/symbol"></div>
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>





{{ partial "foot" . }}
