{{ partial "head" . }}
<main class="width:100% overflow:hidden">


<header>
  <div class="wrap">
    <nav class="header header:home">
      <div class="header/content header/content:mobile display:flex display@sm:none">
    		<div class="header/item">
          <a href="/" class="hover-fill:none">
      			<img src="/assets/images/logo-od.svg" class="header/logo">
      		</a>
        </div>
        <div class="header/item">
          <a href="#" class="header/hamburger padding-right:u2 js-hamburger">
      			<i class="fas fa-bars font-size:h3 color:white"></i>
      		</a>
        </div>
    	</div>

    	<div class="header/content display:none display@sm:flex">
    		<div class="header/item">
          <a href="/" class="hover-fill:none">
      			<img src="/assets/images/logo-od.svg" class="header/logo">
      		</a>
        </div>
        <div class="header/item">
          <a href="/features/" class="color:white font-weight:bold">
      			Features
      		</a>
        </div>
        <div class="header/item">
          <a href="/pricing/" class="color:white font-weight:bold">
      			Pricing
      		</a>
        </div>
        <div class="header/item">
          <a href="#" class="color:white font-weight:bold">
      			Docs
      		</a>
        </div>
        <div class="header/item">
          <a href="#" class="color:white font-weight:bold">
      			Support
      		</a>
        </div>
    	</div>

    	<div class="header/content display:none display@sm:flex">
    		<div class="header/item">
          <a href="/signup/" class="color:black font-weight:bold">
      			Sign Up
      		</a>
        </div>
    		<div class="header/item">
          <a href="/login/" class="button button-style:outline border-radius:round button-grow:u6 button-size:sm button-color:primary">
      			Login
      		</a>
        </div>
    	</div>
    </nav>
  </div>
</header>

<section class="margin-bottom:u12">
  <div class="wrap home-bg">
    <div class="home-bg/elements">
      <img src="/assets/images/home/navy-corner.svg" class="home-bg/navy-corner">
      <img src="/assets/images/home/blue-corner.svg" class="home-bg/blue-corner">

      <img src="/assets/images/home/globe.png" class="home-bg/globe">
    </div>
    <div class="home-bg/content">
      <div class="row row-gutter:u10">
        <div class="column:12 column@sm:6 column@md:7 margin-bottom:u8 flex align-items:center">
          <div>
            <h1 class="font-size:h2 font-size@sm:h1 font-size@md:hero font-height:1 margin-bottom:u8 color:white">The simplest <br class="display:none display@sm" />reverse lookup <br class="display:none display@sm" />for a location <br class="display:none display@sm" />using IP.</h1>
            <h5 class="font-weight:regular color:white">
              We make for fetching a location from an IP Address fast and simple. Fetch an end point with the IP and receive an instant JSON response with the location data you need.
            </h5>
          </div>
        </div>
        <div class="column:12 column@sm:6 column@md:5">
          <div class="card max-width:600px margin:auto elevate">
            <div class="card/content padding:u6 padding@sm:u8 padding-bottom:u6">
              <h4 class="align:center margin-bottom:u8">Lookup IP addresses in <br>seconds, <span class="color:primary">get started now</span></h4>
              <form class="form">
                <div class="form/item margin-bottom:u2">
                  <input type="text" placeholder="Email Address" class="max-width:100%" required>
                </div>
                <div class="form/item">
                  <input type="password" placeholder="Password" class="max-width:100%" required>
                </div>
                <div class="form/item">
                  <button type="submit" value="Sign Up" class="button width:100% font-size:body">Sign Up</button>
                </div>
              </form>
            </div>

            <div class="card/content padding:u0">
              <span class="line line:seperator"><span>or</span></span>
            </div>

            <div class="card/content padding:u6 padding@sm:u8 padding-top:u6">
              <button type="submit" value="Sign Up" class="button button:social button-color:white width:100% font-size:body elevate"><img src="/assets/images/icons/icon-google.svg">Sign Up with Google</button>

              <p class="align:center font-size:tiny max-width:300px margin-top:u6 margin:auto">By signing up, you agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section>
  <div class="wrap">


    <div class="row row-gutter:u10 margin-bottom:u12">
      <div class="column:12 column@sm:7">

      </div>
      <div class="column:12 column@sm:5 align:center">
        <img src="/assets/images/icons/icon-globe.svg/" class="media media-size:sm margin:auto margin-bottom:u6">
        <h3 class="align:center margin-bottom:u6">Always accurate, <br />fast  and up to date</h3>
        <p class="max-width:400px margin:auto margin-bottom:u6">Our database is the best in the business and is updated every week to make sure the results are as accurate as possible.</p>
        <p class="margin-bottom:u8"><strong>Try it out yourself, below!</strong></p>

        <div class="card elevate">
          <form class="form">
            <div class="row elevate border-radius flex-wrap:nowrap">
              <div class="column">
                <input type="text" placeholder="111.194.24.21" class="border:none  input-size:xl align:center">
              </div>
              <div class="column">
                <button class="button button-size:xl width:100% border-radius-left:sharp font-size:body">Get IP info</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>


    <div class="home-map border-radius elevate overflow:hidden">
      <div class="row">
        <div class="column:12 column@sm:6 height:u17">

          <iframe width="100%" height="100%" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" class="border-radius:sharp"></iframe>

        </div>
        <div class="column:12 column@sm:6 fill:navy-d2">
          geges
        </div>
      </div>
    </div>


  </div>
</section>


<section class="margin-bottom:10vh">
  <div class="wrap">
    <div class="row row-gutter@sm:u8 padding-y:10vh">
      <div class="column:12 column@sm:4 margin-bottom:u10 margin-bottom@sm:u0">
        <img src="/assets/images/icons/icon-currency.svg/" class="media media-size:sm margin-bottom:u6">
        <h4 class="margin-bottom:u6">More than just <br /><span class="color:primary">location</span> information</h4>
        <p>Our tool returns more than just location information, find out the current timezone, currency and even languages spoken in the region of the IP address.</p>
      </div>

      <div class="column:12 column@sm:4 margin-bottom:u10 margin-bottom@sm:u0">
        <img src="/assets/images/icons/icon-map.svg/" class="media media-size:sm margin-bottom:u6">
        <h4 class="margin-bottom:u6"><span class="color:primary">High quality</span> flags and static map images</h4>
        <p>Automatically return a high quality flags for any IP address at a range of sizes. Use our Map end point to automatically return a static map image of the location.</p>
      </div>

      <div class="column:12 column@sm:4">
        <img src="/assets/images/icons/icon-language.svg/" class="media media-size:sm margin-bottom:u6">
        <h4 class="margin-bottom:u6">Multi-lingual in over <br /><span class="color:primary">186</span> possible languages</h4>
        <p>Require location information in other languages? Get location, timezone, currency and more in over 186 possible languages. <a href="#">See full list</a></p>
      </div>

    </div>

    <div class="card elevate fill:navy">
      <div class="card/content align:center padding:u8 padding@sm:u10">
        <h4 class="margin-bottom:u6 color:white">
          Suitable for projects of any size
        </h4>
        <p class="color:white opacity:8 max-width:500px margin:auto margin-bottom:u8">Wether it’s a personal project, for a business or enterprise, we have a range of flexible plans to suit your needs.</p>
        <a href="#" class="button button-color:white font-size:body button-grow:u8 border-radius:round">See Plans</a>
      </div>
    </div>
  </div>
</section>

<section class="home-sdk fill:blue-l5 padding-top:10vh padding-bottom:10vh padding-bottom@sm:u0">
  <div class="wrap">
    <h3 class="margin-bottom:u6 align:center">API Documentation in your <br />language of choice</h3>
    <p class="max-width:700px font-size:h6 color:black margin:auto margin-bottom:u8 align:center">Access all the information you need to build on our API. Our API is predictable, resource-oriented URLs, and uses HTTP response codes to indicate API errors.</p>

    <div class="align:center margin-bottom:u10">
      <a class="button button:tab js-home-language-switch js-trigger-ruby is-active">RUBY</a>
      <a class="button button:tab js-home-language-switch js-trigger-php">PHP</a>
      <a class="button button:tab js-home-language-switch js-trigger-js">JS</a>
      <a class="button button:tab js-home-language-switch js-trigger-cs">C#</a>
      <a class="button button:tab js-home-language-switch js-trigger-python">PYTHON</a>
    </div>

    <div class="card elevate max-width:800px margin:auto margin-bottom:u10 margin-bottom@sm:u0">
      <div class="card/content padding:u8">
        <div class="js-snippet js-snippet-ruby">
          {{ partial "snippet-ruby" | markdownify }}
        </div>
        <div class="js-snippet js-snippet-php" style="display: none;">
          {{ partial "snippet-php" | markdownify }}
        </div>
        <div class="js-snippet js-snippet-js" style="display: none;">
          {{ partial "snippet-js" | markdownify }}
        </div>
        <div class="js-snippet js-snippet-cs" style="display: none;">
          {{ partial "snippet-cs" | markdownify }}
        </div>
        <div class="js-snippet js-snippet-python" style="display: none;">
          {{ partial "snippet-python" | markdownify }}
        </div>
      </div>
    </div>

    <div class="home-sdk/cta row row-gutter:u6">
      <div class="column:12 column@sm:6 margin-bottom:u4 margin-bottom@sm:u0">

        <div class="card border:none elevate">
          <div class="row">
            <div class="column:4 column@sm:3 fill:navy-d4 flex justify-content:center align-items:center align:center">
              <div class="card/content">
                <i class="fal fa-bolt color:white font-size:hero"></i>
              </div>
            </div>
            <div class="column:8 column@sm:9">
              <div class="card/content padding:u6 padding@sm:u8">
                <h5 class="margin-bottom:u6">See our features</h5>
                <p>Our database is the best in the business and is updated every week to make sure the results are as accurate as possible.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="column:12 column@sm:6">

        <div class="card border:none elevate">
          <div class="row">
            <div class="column:4 column@sm:3 fill:blue flex justify-content:center align-items:center align:center">
              <div class="card/content">
                <i class="fal fa-book color:white font-size:hero"></i>
              </div>
            </div>
            <div class="column:8 column@sm:9">
              <div class="card/content padding:u6 padding@sm:u8">
                <h5 class="margin-bottom:u6">Read the Docs</h5>
                <p>Building on our API. Our helpful developer doc has all the information you need to get started with libraries from Ruby to Python.</p>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>

<section class="home-cta fill:navy padding-y:8vh align:center">
  <div class="wrap padding-top@sm:u12">
    <h3 class="font-size@sm:h2 margin-bottom:u8 color:white max-width:500px margin:auto">Lookup IP addresses in seconds, get started now</h3>
    <a href="#" class="button button-grow:u12 font-size:body border-radius:round">Get Started</a>
  </div>
</section>
{{ partial "footer" . }}
{{ partial "slidemenu" . }}

</main>
{{ partial "foot" . }}
