{{ partial "head" . }}

<header>
  <div class="wrap">
    <nav class="header header:home">
    	<div class="header/content">
    		<div class="header/item">
          <a href="/" class="hover-fill:none padding-x:u4 padding-x@sm:u4 padding-y:u4">
      			<img src="/assets/images/logo-od.svg" class="header/logo">
      		</a>
        </div>
        <div class="header/item">
          <a href="/features/" class="color:white font-weight:bold">
      			Features
      		</a>
        </div>
        <div class="header/item">
          <a href="/pricing/" class="color:white font-weight:bold">
      			Pricing
      		</a>
        </div>
        <div class="header/item">
          <a href="#" class="color:white font-weight:bold">
      			Docs
      		</a>
        </div>
        <div class="header/item">
          <a href="#" class="color:white font-weight:bold">
      			Support
      		</a>
        </div>
    	</div>

    	<div class="header/content">
    		<div class="header/item">
          <a href="/signup/" class="color:black font-weight:bold">
      			Sign Up
      		</a>
        </div>
    		<div class="header/item">
          <a href="/login/" class="button button-style:outline border-radius:round button-grow:u6 button-size:sm button-color:primary">
      			Login
      		</a>
        </div>
    	</div>
    </nav>
  </div>
</header>

<section class="margin-bottom:u12">
  <div class="wrap home-bg">
    <div class="home-bg/elements">
      <img src="/assets/images/home/navy-corner.svg" class="home-bg/navy-corner">
      <img src="/assets/images/home/blue-corner.svg" class="home-bg/blue-corner">

      <img src="/assets/images/home/globe.png" class="home-bg/globe">
    </div>
    <div class="home-bg/content">
      <div class="row row-gutter:u10">
        <div class="column:12 column@sm:7 padding-top:5vh">
          <h1 class="font-size:hero font-height:1 margin-bottom:u8 color:white">The simplest <br />reverse lookup <br />for a location <br />using IP.</h1>
          <h5 class="font-weight:regular color:white">
            We make for fetching a location from an IP Address fast and simple. Fetch an end point with the IP and receive an instant JSON response with the location data you need.
          </h5>
        </div>
        <div class="column:12 column@sm:5">
          <div class="card elevate">
            <div class="card/content padding:u8 padding-bottom:u6">
              <h4 class="align:center margin-bottom:u8">Lookup IP addresses in <br>seconds, <span class="color:primary">get started now</span></h4>
              <form class="form">
                <div class="form/item margin-bottom:u2">
                  <input type="text" placeholder="Email Address" class="max-width:100%" required>
                </div>
                <div class="form/item">
                  <input type="password" placeholder="Password" class="max-width:100%" required>
                </div>
                <div class="form/item">
                  <button type="submit" value="Sign Up" class="button width:100% font-size:body">Sign Up</button>
                </div>
              </form>
            </div>

            <div class="card/content padding:u0">
              <span class="line line:seperator"><span>or</span></span>
            </div>

            <div class="card/content padding:u8 padding-top:u6">
              <button type="submit" value="Sign Up" class="button button:social button-color:white width:100% font-size:body elevate"><img src="/assets/images/icons/icon-google.svg">Sign Up with Google</button>

              <p class="align:center font-size:tiny max-width:300px margin-top:u6 margin:auto">By signing up, you agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section>
  <div class="wrap">


    <div class="row row-gutter:u10 margin-bottom:u12">
      <div class="column:12 column@sm:7">

      </div>
      <div class="column:12 column@sm:5 align:center">
        <img src="https://via.placeholder.com/150" class="media media-size:lg border-radius:round margin:auto margin-bottom:u6">
        <h4 class="align:center margin-bottom:u8">Lookup IP addresses in <br>seconds, <span class="color:primary">get started now</span></h4>
        <p class="max-width:400px margin:auto margin-bottom:u6">Our database is the best in the business and is updated every week to make sure the results are as accurate as possible.</p>
        <p class="margin-bottom:u8"><strong>Try it out yourself, below!</strong></p>

        <div class="card elevate">
          <form class="form">
            <div class="row elevate border-radius">
              <div class="column">
                <input type="text" placeholder="111.194.24.21" class="border:none  input-size:xl align:center">
              </div>
              <div class="column">
                <button class="button button-size:xl width:100% border-radius-left:sharp font-size:body">Get IP info</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>


    <div class="home-map border-radius elevate overflow:hidden">
      <div class="row">
        <div class="column:12 column@sm:6 height:u17">

          <iframe width="100%" height="100%" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" class="border-radius:sharp"></iframe>

        </div>
        <div class="column:12 column@sm:6 fill:navy-d2">
          geges
        </div>
      </div>
    </div>


  </div>
</section>


<section class="margin-bottom:10vh">
  <div class="wrap">
    <div class="row row-gutter:u8 padding-y:10vh">
      <div class="column:12 column@sm:4">
        <img src="https://via.placeholder.com/150" class="media media-size:lg border-radius:round margin-bottom:u6">
        <h4 class="margin-bottom:u6">Lookup IP addresses in <br>seconds, <span class="color:primary">get started now</span></h4>
        <p>Our database is the best in the business and is updated every week to make sure the results are as accurate as possible.</p>
      </div>

      <div class="column:12 column@sm:4">
        <img src="https://via.placeholder.com/150" class="media media-size:lg border-radius:round margin-bottom:u6">
        <h4 class="margin-bottom:u6">Lookup IP addresses in <br>seconds, <span class="color:primary">get started now</span></h4>
        <p>Our database is the best in the business and is updated every week to make sure the results are as accurate as possible.</p>
      </div>


      <div class="column:12 column@sm:4">
        <img src="https://via.placeholder.com/150" class="media media-size:lg border-radius:round margin-bottom:u6">
        <h4 class="margin-bottom:u6">Lookup IP addresses in <br>seconds, <span class="color:primary">get started now</span></h4>
        <p>Our database is the best in the business and is updated every week to make sure the results are as accurate as possible.</p>
      </div>

    </div>

    <div class="card elevate fill:blue-d1">
      <div class="card/content align:center padding:u10">
        <h4 class="margin-bottom:u6 color:white">
          Need an unlimited plan?
        </h4>
        <p class="color:white opacity:8 max-width:800px margin:auto margin-bottom:u8">We suggest you have a chat with one of our account managers to get you started. Most Fergus customers are on the Professional Plan, as it's our most powerful business tool.</p>
        <a href="#" class="button button-color:white font-size:body button-grow:u8 border-radius:round">Get Started</a>
      </div>
    </div>
  </div>
</section>

<section class="home-sdk fill:blue-l5 padding-top:10vh">
  <div class="wrap">
    <h3 class="margin-bottom:u6 align:center">Lookup IP addresses in seconds, get started now</h3>
    <p class="max-width:600px font-size:h6 color:black margin:auto margin-bottom:u8 align:center">Our database is the best in the business and is updated every week to make sure the results are as accurate as possible.</p>

    <div class="align:center margin-bottom:u10">
      <a href="#" class="button button:tab js-home-language-switch is-active">PHP</a>
      <a href="#" class="button button:tab js-home-language-switch">RUBY</a>
      <a href="#" class="button button:tab js-home-language-switch">GO</a>
      <a href="#" class="button button:tab js-home-language-switch">NODE</a>
    </div>

    <div class="card elevate max-width:800px margin:auto">
      <div class="card/content padding:u8">
        // Require the Stripe library with a test secret key.
        const stripe = require('stripe')('sk_test_BQokikJOvBiI2HlWgH4olfQ2');

        // Create a payment from a test card token.
        const charge = await stripe.charges.create({
          amount: 2000,
          currency: 'usd',
          source: 'tok_mastercard',
          description: 'My first payment'
        });

        // Click “▶ run” to try this code live and create your first payment.
      </div>
    </div>

    <div class="home-sdk/cta row row-gutter:u6">
      <div class="column:12 column@sm:6">

        <div class="card border:none elevate">
          <div class="row">
            <div class="column:3 fill:navy-d4">
              <div class="card/content">

              </div>
            </div>
            <div class="column:9">
              <div class="card/content padding:u8">
                <h5 class="margin-bottom:u6">Read the Docs</h5>
                <p>Our database is the best in the business and is updated every week to make sure the results are as accurate as possible.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="column:12 column@sm:6">

        <div class="card border:none elevate">
          <div class="row">
            <div class="column:3 fill:blue">
              <div class="card/content">

              </div>
            </div>
            <div class="column:9">
              <div class="card/content padding:u8">
                <h5 class="margin-bottom:u6">Read the Docs</h5>
                <p>Our database is the best in the business and is updated every week to make sure the results are as accurate as possible.</p>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>

<section class="home-cta fill:navy padding-y:8vh align:center">
  <div class="wrap padding-top:u12">
    <h2 class="margin-bottom:u8 color:white max-width:500px margin:auto">Deploy your app in seconds, get started now</h2>
    <a href="#" class="button button-grow:u12 font-size:body border-radius:round">Get Started</a>
  </div>
</section>

<footer class="fill:white padding-top:u10 padding-bottom:u6">
  <div class="wrap">
    <div class="row">
      <div class="column flex:none padding-right:u12">
        <img src="/assets/images/logo-ol.svg" class="media">
      </div>
      <div class="column">

        <div class="row margin-bottom:u14">
          <div class="column flex:none padding-right:u10">
            <ul class="list list-gutter:u2">
              <li class="list/item">
                <h6 class="font-size:micro font-case:upper margin-bottom:u6">Product</h6>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Features
                </a>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Pricing
                </a>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Docs
                </a>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Support
                </a>
              </li>
            </ul>
          </div>
          <div class="column flex:none padding-right:u10">
            <ul class="list list-gutter:u2">
              <li class="list/item">
                <h6 class="font-size:micro font-case:upper margin-bottom:u6">Tools & Support</h6>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Bulk Search
                </a>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Contact Us
                </a>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Blog
                </a>
              </li>
            </ul>
          </div>
          <div class="column">
            <ul class="list list-gutter:u2">
              <li class="list/item">
                <h6 class="font-size:micro font-case:upper margin-bottom:u6">Resources</h6>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Terms of Agreement
                </a>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Privacy Policy
                </a>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Country Flag
                </a>
              </li>
              <li class="list/item">
                <a href="#" class="color:black opacity:5 font-height:1.4 font-size:tiny hover-opacity:10">
                  Map Image
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="column flex:none">
        <a href="#" class="card fill:blue-l5 border:none display:inline-flex">
          <div class="card/content padding:u8">
            <div class="flag flag-gutter:u6">
              <div class="flag/item">
                <img src="https://via.placeholder.com/150" class="media media-size:xl border-radius:round">
              </div>
              <div class="flag/item">
                <h6 class="margin-bottom:u2">Try Our Bulk Search</h6>
                <p class="color:black font-size:tiny">Built on a network of over 420 <br />million monthly users.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row border-top padding-top:u6">
      <div class="column display:flex align-items:center">
        <div>
          <a href="#" class="font-size:tiny color:grey-l2 margin-right:u4">Copyright © IP Find 2018</a>
          <a href="#" class="font-size:tiny color:grey-l2 margin-right:u4">Terms</a>
          <a href="#" class="font-size:tiny color:grey-l2 ">Privacy</a>
        </div>
      </div>
      <div class="column align:right">
        <a href="#" class="font-size:h4 color:primary margin-right:u4"><i class="fab fa-github"></i></a>
        <a href="#" class="font-size:h4 color:primary margin-right:u4"><i class="fab fa-medium"></i></a>
        <a href="#" class="font-size:h4 color:primary "><i class="fab fa-twitter"></i></a>
      </div>
    </div>


  </div>
</footer>



{{ partial "foot" . }}
