/*
Title: ipfind
Version: 0.1.0
Updated: 2018-08-23
Author: Jin Su Park
Site: ipfind.com
*/

/************************************************************
1. FONTS & BUILD VARIABLES
************************************************************/

// include SCSS overrides before the build variables
@import "../fonts/mark.font";
@import "override.variables";
@import "build.variables";

/************************************************************
2. COMPONENTS
************************************************************/

// include custom components here
@import "components/import.components";

/************************************************************
3. ROOT VARIABLES
************************************************************/

// override component CSS variables here
:root {
  --button-outline-weight: 2px;
  --button-radius: 5px;
  --button-font-family: var(--font-family);
  --button-font-size: var(--micro);
  --button-font-weight: var(--medium);
}

/************************************************************
4. THIRD PARTY
************************************************************/

// include any other 3rd party css libraries here
@import "../vendors/prism/prism.scss";

/************************************************************
5. EXTENSIONS
************************************************************/

@import "extensions/header.extension";
@import "extensions/home.extension";
@import "extensions/features.extension";
@import "extensions/pricing.extension";
@import "extensions/start.extension";
// include any other 3rd party css libraries here

/************************************************************
6. CUSTOM CSS
************************************************************/

// this is where you can write your own CSS

.button {
  text-transform: none;
  &\:social {
    position: relative;
    img {
      position: absolute;
      left: 14px;
      top: 50%;
      transform: translateY(-50%);
      width: 22px;
    }
  }
  &\:tab {
    color:black;
    background: transparent;
    &:hover {
      background: var(--blue-l4);
    }
    &.is-active {
      background: var(--blue-l4);
    }
  }
}

.line {
  &\:seperator {
    position: relative;
    span {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      padding: 0px 15px 1px 15px;
      transform: translateX(-50%) translateY(-50%);
      background: white;
    }
  }
}


.slidemenu {
  &\/logo {
    width: 90px;
  }
}
