{{ partial "head" . }}
<img src="/assets/images/logo-od.svg" class="start/logo margin-bottom:u10">

<div class="card elevate max-width:500px margin:auto margin-bottom:u6">
  <div class="card/content padding:u8 padding-bottom:u6">
    <h3 class="align:center margin-bottom:u8">Login</h3>
    <form class="form">
      <div class="form/item margin-bottom:u2">
        <input type="text" placeholder="Email Address" class="max-width:100%" required>
      </div>
      <div class="form/item">
        <input type="password" placeholder="Password" class="max-width:100%" required>
      </div>
      <div class="form/item">
        <button type="submit" value="Sign Up" class="button width:100% font-size:body">Login</button>
      </div>
    </form>
  </div>

  <div class="card/content padding:u0">
    <span class="line line:seperator"><span>or</span></span>
  </div>

  <div class="card/content padding:u8 padding-top:u6">
    <button type="submit" value="Sign Up" class="button button:social button-color:white width:100% font-size:body elevate"><img src="/assets/images/icons/icon-google.svg">Login with Google</button>
  </div>
</div>

<p class="align:center color:white font-size:tiny">
  Don't have an account? <a href="/signup/" class="color:white font-weight:bold">Sign Up</a>
</p>
{{ partial "foot" . }}
